


<div class="row">
  <div class="col-sm-6">
    <h1>Bookmarks</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_bookmark_path, class: 'btn btn-primary' do %>
    Add New Bookmark
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    

            <th>Post</th>
            <th>User</th>
            
          <th></th>
        
      </tr>
    </thead>

    <tbody>
      <% @bookmarks.each do |bookmark| %>
        <%= content_tag :tr, id: dom_id(bookmark), class: dom_class(bookmark) do %>
          

                      <td><%= bookmark.post %></td>
                      <td><%= bookmark.user %></td>
          
          
            <td><%= link_to 'Show', bookmark %></td>
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
