<div class="row">
  <div class="col-lg-4 col-md-6 ml-auto mr-auto">
    <h1 class="text-center">Sign Up</h1>
    <%= form_for(@user, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group">
        <%= f.text_field :name, autofocus: true, class: 'form-control', placeholder: "Full Name" %>
      </div>

      <div class="form-group">
        <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: "Email Address" %>
      </div>

      <div class="form-group">
        <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Password' %>
      </div>

      <div class="form-group">
        <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirm Password' %>
      </div>

      <div class="form-group">
        <div class="form-check-inline">
          <%= f.radio_button :user_type, :volunteer, data: { reflex: "click->UserReflex#toggle_user_type", value: :volunteer } %>
          <label class="form-check-label" for="volunteer">
            Volunteer
          </label>
        </div>
        <div class="form-check-inline">
          <%= f.radio_button :user_type, :staff, data: { reflex: "click->UserReflex#toggle_user_type", value: :staff } %>
          <label class="form-check-label" for="staff">
            Staff
          </label>
        </div>
      </div>

      <div class="form-group">
        <%= f.fields_for :location, @user.build_location do |location_fields| %>
          <% if @user.staff? %>
            <%= location_fields.fields_for :organization_attributes, @user.location.build_organization do |organization_fields| %>
              <div class="form-group">
                <%= organization_fields.label :name %>
                <%= organization_fields.text_field :name, class: 'form-control' %>
              </div>
            <% end %>
          <% end %>

          <div class="form-group">
            <%= location_fields.label :street_address %>
            <%= location_fields.text_field :street_address, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= location_fields.label :city %>
            <%= location_fields.text_field :city, class: 'form-control' %>
          </div>

          <div class="form-group">
            <%= location_fields.label :state %>
            <%= location_fields.text_field :state, class: 'form-control' %>
          </div>
        <% end %>
      </div>


      <div class="form-group">
        <%= f.submit "Sign up", class: "btn btn-primary btn-block btn-lg" %>
      </div>
    <% end %>

    <div class="text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
