<%= @post.content %>
<%= render @post.organization %>
<% if @post.is_created_by?(current_user) %>
  <%= link_to edit_post_path(@post), class: 'btn btn-primary' do %>Edit<% end %>
<% end %>
<% @post.comments.each do |comment| %>
  <% unless comment.new_record? %>
    <%= render comment %>
  <% end %>
<% end %>

<% if current_user.present? %>
  <%= form_with(model: @new_comment, local: true) do |form| %>
    <% if @new_comment.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

        <ul>
        <% @new_comment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <%= form.hidden_field :post_id %>
    <%= form.hidden_field :user_id %>
    
    <div class="form-group">
      <h4>Post New Comment</h4>
      <%= form.rich_text_area :text %>
    </div>

    <div class="form-group">
      <%= form.submit class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>
