<div data-controller="post" data-coordinates="<%= @post.lat_lng.to_json %>">
  <div class="row">
    <div class="col-sm">
      <div class="card p-3 mb-2">
        <%= @post.content %>

        <% if @post.is_created_by?(current_user) %>
          <%= link_to edit_post_path(@post), class: 'btn btn-primary mt-3' do %>Edit<% end %>
        <% end %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card p-3 mb-3">
        <%= render @post.organization %>
      </div>
    </div>
  </div>

  <h4>Comments</h4>
  <% if current_user.present? && current_user.volunteer? %>
    <div class="card p-3 mb-2">
      <%= form_with(model: @new_comment, local: true, data: {
            controller: :comment
          }) do |form| %>
        <% if @new_comment.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@new_comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
            <ul>
              <% @new_comment.errors.full_messages.each do |message| %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <%= form.hidden_field :post_id, data: { target: "comment.postId" } %>
        <%= form.hidden_field :user_id, data: { target: "comment.userId" } %>

        <div class="form-group">
          <%= form.text_area :text, data: { target: "comment.text" } %>
        </div>

        <div class="form-group">
          <%= form.submit 'Post Comment', data: {
              action: "click->comment#create"
            }, class: 'btn btn-outline-primary' %>
        </div>
      <% end %>
    </div>
  <% end %>
  <div class="new-comment-placeholder"></div>
  <% @comments.each do |comment| %>
    <% unless comment.new_record? %>
      <%= render comment %>
    <% end %>
  <% end %>
</div>
