<div class="media">
  <% if organization.logo.present? %>
    <div>
      <%= image_tag organization.logo.variant(thumbnail: '64x64^', gravity: 'center', extent: '64x64'), class: "mr-3 rounded" %>
    </div>
  <% end %>

  <div class="media-body">
    <h5 class="my-1">
      <%= organization.name %>
    </h5>
    <% if organization.phone.present? %>
      <p class="m-0">
        <a href="tel:<%= organization.phone %>">
          <%= organization.phone %>
        </a>
      </p>
    <% end %>
    <% if organization.email.present? %>
      <p class="m-0">
        <a href="mailto:<%= organization.email %>">
          <%= organization.email %>
        </a>
      </p>
    <% end %>
  </div>
</div>
<div>
  <%= organization.address %>
  <% if organization.has_coordinates? %>
    <div data-reflex-permanent id="map" class="mapkit-map mt-1"></div>
  <% end %>
</div>