


<div class="row">
  <div class="col-sm-6">
    <h1>Organizations</h1>
  </div>

  <div class="col-sm-6 text-right">
  <%= link_to new_organization_path, class: 'btn btn-primary' do %>
    Add New Organization
  <% end %>
  </div>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
    
        <th>Name</th>
    

            <th>Phone</th>
            <th>Email</th>
            <th>Logo url</th>
            
      </tr>
    </thead>

    <tbody>
      <% @organizations.each do |organization| %>
        <%= content_tag :tr, id: dom_id(organization), class: dom_class(organization) do %>
          
            <td><%= link_to organization.name, organization %></td>
          

                      <td><%= organization.phone %></td>
                      <td><%= organization.email %></td>
                      <td><%= organization.logo_url %></td>
          
          
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
