<div class="page-header">
  <%= link_to organizations_path, class: 'btn btn-default' do %>
    All Organizations
  <% end %>
  <%= link_to edit_organization_path(@organization), class: 'btn btn-primary' do %>
    Edit
  <% end %>
  <h1>Show organization</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @organization.name %></dd>

  <dt>Phone:</dt>
  <dd><%= @organization.phone %></dd>

  <dt>Email:</dt>
  <dd><%= @organization.email %></dd>

  <dt>Logo url:</dt>
  <dd><%= @organization.logo_url %></dd>

</dl>
